html,body{
    height:100%;
}

.flex-fill {
    flex:1;
}

.live:after {
    content: ' \25CF';
    color: lime;
    float: right;
}

#stroop-test-msg {
    font-weight: bold;
}
#stroop-test-msg ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
#stroop-test-msg li {
    font-weight: normal;
    font-size: large;
}
